<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zacx.serivce.dal.mapper.SymSitemapMapper" >
  <resultMap id="BaseResultMap" type="com.zacx.serivce.dal.entity.SymSitemap" >
    <id column="SiteMapId" property="sitemapid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="ParentId" property="parentid" jdbcType="INTEGER" />
    <result column="Sort" property="sort" jdbcType="INTEGER" />
    <result column="SiteMapType" property="sitemaptype" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zacx.serivce.dal.entity.SymSitemapWithBLOBs" extends="BaseResultMap" >
    <result column="Path" property="path" jdbcType="LONGVARCHAR" />
    <result column="ImageUrl" property="imageurl" jdbcType="LONGVARCHAR" />
    <result column="ShortKeyImageUrl" property="shortkeyimageurl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SiteMapId, `Name`, ParentId, Sort, SiteMapType, Remark
  </sql>
  <sql id="Blob_Column_List" >
    `Path`, ImageUrl, ShortKeyImageUrl
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zacx.serivce.dal.entity.SymSitemapExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sym_sitemap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zacx.serivce.dal.entity.SymSitemapExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sym_sitemap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sym_sitemap
    where SiteMapId = #{sitemapid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sym_sitemap
    where SiteMapId = #{sitemapid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zacx.serivce.dal.entity.SymSitemapExample" >
    delete from sym_sitemap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zacx.serivce.dal.entity.SymSitemapWithBLOBs" >
    insert into sym_sitemap (SiteMapId, `Name`, ParentId, 
      Sort, SiteMapType, Remark, 
      `Path`, ImageUrl, ShortKeyImageUrl
      )
    values (#{sitemapid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{sitemaptype,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{path,jdbcType=LONGVARCHAR}, #{imageurl,jdbcType=LONGVARCHAR}, #{shortkeyimageurl,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zacx.serivce.dal.entity.SymSitemapWithBLOBs" >
    insert into sym_sitemap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sitemapid != null" >
        SiteMapId,
      </if>
      <if test="name != null" >
        `Name`,
      </if>
      <if test="parentid != null" >
        ParentId,
      </if>
      <if test="sort != null" >
        Sort,
      </if>
      <if test="sitemaptype != null" >
        SiteMapType,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="path != null" >
        `Path`,
      </if>
      <if test="imageurl != null" >
        ImageUrl,
      </if>
      <if test="shortkeyimageurl != null" >
        ShortKeyImageUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sitemapid != null" >
        #{sitemapid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="sitemaptype != null" >
        #{sitemaptype,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=LONGVARCHAR},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="shortkeyimageurl != null" >
        #{shortkeyimageurl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zacx.serivce.dal.entity.SymSitemapExample" resultType="java.lang.Integer" >
    select count(*) from sym_sitemap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sym_sitemap
    <set >
      <if test="record.sitemapid != null" >
        SiteMapId = #{record.sitemapid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        `Name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        ParentId = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null" >
        Sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.sitemaptype != null" >
        SiteMapType = #{record.sitemaptype,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        `Path` = #{record.path,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.imageurl != null" >
        ImageUrl = #{record.imageurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shortkeyimageurl != null" >
        ShortKeyImageUrl = #{record.shortkeyimageurl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sym_sitemap
    set SiteMapId = #{record.sitemapid,jdbcType=INTEGER},
      `Name` = #{record.name,jdbcType=VARCHAR},
      ParentId = #{record.parentid,jdbcType=INTEGER},
      Sort = #{record.sort,jdbcType=INTEGER},
      SiteMapType = #{record.sitemaptype,jdbcType=INTEGER},
      Remark = #{record.remark,jdbcType=VARCHAR},
      `Path` = #{record.path,jdbcType=LONGVARCHAR},
      ImageUrl = #{record.imageurl,jdbcType=LONGVARCHAR},
      ShortKeyImageUrl = #{record.shortkeyimageurl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sym_sitemap
    set SiteMapId = #{record.sitemapid,jdbcType=INTEGER},
      `Name` = #{record.name,jdbcType=VARCHAR},
      ParentId = #{record.parentid,jdbcType=INTEGER},
      Sort = #{record.sort,jdbcType=INTEGER},
      SiteMapType = #{record.sitemaptype,jdbcType=INTEGER},
      Remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zacx.serivce.dal.entity.SymSitemapWithBLOBs" >
    update sym_sitemap
    <set >
      <if test="name != null" >
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        ParentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        Sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="sitemaptype != null" >
        SiteMapType = #{sitemaptype,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        `Path` = #{path,jdbcType=LONGVARCHAR},
      </if>
      <if test="imageurl != null" >
        ImageUrl = #{imageurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="shortkeyimageurl != null" >
        ShortKeyImageUrl = #{shortkeyimageurl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SiteMapId = #{sitemapid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zacx.serivce.dal.entity.SymSitemapWithBLOBs" >
    update sym_sitemap
    set `Name` = #{name,jdbcType=VARCHAR},
      ParentId = #{parentid,jdbcType=INTEGER},
      Sort = #{sort,jdbcType=INTEGER},
      SiteMapType = #{sitemaptype,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      `Path` = #{path,jdbcType=LONGVARCHAR},
      ImageUrl = #{imageurl,jdbcType=LONGVARCHAR},
      ShortKeyImageUrl = #{shortkeyimageurl,jdbcType=LONGVARCHAR}
    where SiteMapId = #{sitemapid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zacx.serivce.dal.entity.SymSitemap" >
    update sym_sitemap
    set `Name` = #{name,jdbcType=VARCHAR},
      ParentId = #{parentid,jdbcType=INTEGER},
      Sort = #{sort,jdbcType=INTEGER},
      SiteMapType = #{sitemaptype,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR}
    where SiteMapId = #{sitemapid,jdbcType=INTEGER}
  </update>
</mapper>